.visible-desktop-block
  display: none

  +desktop()
    display: block

.visible-desktop-inline
  display: none

  +desktop()
    display: inline

.visible-desktop-inline-block
  display: none

  +desktop()
    display: inline-block

.visible-mobile-block
  display: none

  +mobile()
    display: block

.visible-mobile-inline
  display: none

  +mobile()
    display: inline

.visible-mobile-inline-block
  display: none

  +mobile()
    display: inline-block

.hidden-mobile

  +mobile()
    display: none

.hidden-desktop

  +desktop()
    display: none
