*
*:before
*:after
  box-sizing: border-box

html
body
  margin: 0
  padding: 0
  position: relative
  height: 100%

html
  font-size: $font-size-base

body
  font-size: $font-size

.container
  display: block
  position: relative
  width: 100%
  height: 100%
  lost-center: 116rem 2rem

@media
(-webkit-min-device-pixel-ratio: 2) and (max-device-width: 1024px),
(min-resolution: 192dpi) and (max-device-width: 1024px)
  html
    font-size 5px !important
