$weights = {
  thin: 100,
  light: 200,
  regular: 300,
  medium: 400,
  semibold: 500,
  bold: 600,
  black: 700
}

div, p, span, li, small, label, input, select, button, a, h1, h2, h3, h4, h5, h6
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
