$font-size-base = 10px
$font-size = 1.6rem
$line-height = 1.44

$layers = "footer", "header", "content", "button", "dropdown", "tooltip", "sticky", "sidebar", "modal"

rupture.scale = 0 768px 992px 1200px
rupture.scale-names = "s" "m" "l"
rupture.anti-overlap = true

jeet = {
  gutter: 2.631578947,
  parent-first: false,
  layout-direction: LTR,
  max-width: 1000px
}
