.form
[class*="form--"]
    @extend $cf
    position: relative

.form__content
    @extend $basic-block
    @extend $cf

.form__group
    @extend $cf
    position: relative
    display: block
    vertical-align: top

$form-element
    display: block
    position: relative
    vertical-align: top

.form__element
    @extend $form-element
    width: 100%
    float: left

.form__element--two-col
    @extend .form__element
    col(2/8)

.form__element--three-col
    @extend .form__element
    col(3/8)

.form__element--four-col
    @extend .form__element
    col(4/8)

$form-label
    display: block
    margin: 0.5rem 0
    vertical-align: bottom
    font-size: 1.3rem
    font-weight: weights['regular']

.form__label
    @extend $form-label

.form__input-control
    display: block
    position: relative
    width: 100%

$form-input
    @extend $strip-input-style
    display: block
    width: 100%

.form__input
    @extend $form-input
