$base-text
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

div, p, span, li, small, label, input, select, button, a, h1, h2, h3, h4, h5, h6
  @extend $base-text

$copy
  color: gray['xdark']
  font-size: $baseFontSize
  line-height: 1.618
  font-weight: weights['regular']
