.visible-desktop-block {
  display: none;

  @include above(desktop) {
    display: block;
  }
}

.visible-desktop-inline {
  display: none;

  @include above(desktop) {
    display: inline
  }
}

.visible-desktop-inline-block {
  display: none;

  @include above(desktop) {
    display: inline-block;
  }
}

.visible-mobile-block {
  display: none;

  @include below(mobile) {
    display: block;
  }
}

.visible-mobile-inline {
  display: none;

  @include below(mobile) {
    display: inline;
  }
}

.visible-mobile-inline-block {
  display: none;

  @include below(mobile) {
    display: inline-block;
  }
}

.hidden-mobile {

  @include below(mobile) {
    display: none;
  }
}

.hidden-desktop {

  @include above(desktop) {
    display: none;
  }
}
