div,
p,
span,
li,
small,
label,
input,
select,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-smoothing(on);
  text-rendering: optimizeLegibility;
}

html {
  font-size: $font-size-base;
}

body {
  font-size: $font-size;
}
