breakpointSmallMobile = max-width 319px
breakpointIphone = min-device-width 320px
breakpointIphone5 = (min-device-width 320px) (max-device-width 568px)
breakpointMobile = max-width 480px
breakpointNotMobile = min-width 481px
breakpointSmallTablet = max-width 767px
breakpointTablet = min-width 768px
breakpointIpad = (min-width 768px) (max-width 1024px)
breakpointIpadRetina = (min-width 768px) (max-width 1024px) (-webkit-min-device-pixel-ratio 2)
breakpointNotDesktop = max-device-width 1024px
breakpointSmallDesktop = (max-width 1200px)
breakpointDesktop = min-width 1025px
breakpointRetina = -webkit-min-device-pixel-ratio 1.5
breakpointSuperRetina = -webkit-min-device-pixel-ratio 2.1
breakpointRetinaMac = (-webkit-min-device-pixel-ratio 2) (min-resolution 192dpi)