body.demo
  font-family: "Raleway"

  .hero-text-column
    padding: 5rem
    display: flex
    align-items: center
    height: 30rem

  #stencil-logo
    text-align: center
    svg
      height: 30rem

  form
    width: 75%

  input, textarea {
    width: 100%
  }

  .stats
    .row
      display: flex
      flex-wrap: wrap
      justify-content: space-between

    .stats-item
      margin-top: 3rem
      width: 25%
      border-radius: 6px
      padding: 2rem
      background: #eee
      display: flex-item

  .stat-multiplier:after
    content: "%"

  .footer
    text-align: center
    a
      text-decoration: none
