*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
}

html {
  font-size: $font-size-base;
}

body {
  font-size: $font-size;
}
