*
*:before
*:after
    box-sizing: border-box

html
body
    margin: 0
    padding: 0
    position: relative
    height: 100%

html
    font-size: 10px

body
    font-size: 1.6rem

#page-wrapper
    overflow: hidden

.container
    @extend $cf

    center(1200px, 10px)

    width: 1180px
    position: relative
