// return value from hash
get(hash, key)
  return pair[1] if pair[0] == key for pair in hash

// return index of matched value in list
index(list, value)
  for item, i in list
    if item == value
      return i

  return null

// return matched z-index in list
z(list, value)
  i = index(list, value)
  if i != null
    return i
  else
    return auto