// return value from hash
get(hash, key, default)
    for k, v in hash
        if k == key
            return v

    if default
        return default

// return index of matched value in list
index(list, value)
    for item, i in list
        if item == value
            return i

    return null

// return matched z-index in list
z(list, value)
    i = index(list, value)
    if i != null
        return i
    else
        return auto
