$cf
    &:after
        content: ''
        display: table
        clear: both

$hide-text
    text-indent: 100%
    white-space: nowrap
    overflow: hidden

$unselectable
    user-select: none

$vertical-align
    position: relative
    top: 50%
    transform: translateY(-50%)

$horizontal-align
    position: relative
    left: 50%
    transform: translateX(-50%)

$vertical-horizontal-align
    position: relative
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

$absolute-center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 100%
    height: 100%

$fill-background
    background-size: cover
    background-position: center center
    background-repeat: no-repeat

$strip-input-style
    background-color: transparent
    border: none
    border-radius: 0
    outline: 0 none !important
    appearance: none

$basic-block
    position: relative
    display: block
    width: 100%
    height: auto

$basic-list
    @extend $basic-block
    padding: 0
    margin: 0
    list-style: none

$block-link
    @extend $basic-block
    color: inherit
    text-decoration: none

$backdrop
    content: ''
    display: block
    position: absolute
    height: 100%
    width: 999em
