{
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jquery": true
    },
    "rules": {
        "no-underscore-dangle": 0,
        "quotes": [1, "single"],
        "strict": [2, "global"],
        "semi": [1, "always"],
        "new-cap": 0,
        "dot-notation": 0,
        "max-len": [1, 120, 4],
        "no-unused-vars": [1, {"vars": "all", "args": "after-used"}],
        "no-alert": 0
    },
    "ecmaFeatures": {
        "modules": true
    },
    "globals": {
        "__DEV__": true,
        "File": true,
        "ko": true,
        "postal": true
    }
}
