{
  "extends": "defaults/configurations/walmart/es6-browser",
  "env": {
      "jquery": true
  },
  "globals": {
      "__DEV__": true,
      "File": true,
      "ko": true,
      "postal": true
  }
}
